<form action="/update_action" method="POST">
  <table>
	  <tr><th>Title</th><td> <input type="text" name="title" requred /></td></tr>
	  <tr><th>Author</th><td> <input type="text" name="author" value="<%= show_authors(item[:author]) %>" requred /></td></tr>
	  <tr><th>Publisher</th><td> <input type="text" name="publisher" requred /></td></tr>
	  <tr><th>Publish Year</th><td> <input type="text" name="publish_year" requred /></td></tr>
	</table>
	<input type="hidden" name="id", value="<%= item['_id'] %>" />
	<input type="submit" value="Update" />
</form>
