<% if items.count() == 0 %>
  <p>No items</p>
<% else %>
  <table border="1">
	  <tr><th>Title</th><th>Author</th></tr>
		<% items.each do |item| %>
		  <tr>
			  <td><%= item[:title] %></td>
			  <td><%= item[:author] %></td>
				<% id = item['_id'].to_s %>
				<td><input type="button" value="Edit" onclick="location.href='/edititem?id=<%= id %>'" /></td>
				<td><input type="button" value="Detail" onclick="location.href='/itemdetail?id=<%= id %>'" /></td>
			</tr>
		<% end %>
	</table>
<% end %>

<form action="/additem" method="get">
  <input type="submit" value="Add book">
</form>
